.imageSlider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image {
    object-fit: contain;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .image {
    object-fit: contain;
  }
 
}

@media (min-width: 1366px) {
  .image {
    object-fit: contain;
  }
  
}
