.card {
    position: relative;
    overflow: hidden;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(21, 21, 21, 0.5); /* Overlay color with 50% opacity */
    opacity: 0;
    transition: opacity 1s;
    z-index: 10; /* Ensure the overlay is below the button */
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    transform: translateY(100%);
    transition: transform 1s;
    border-top: 8px solid orange; /* Border with overlay color */
    z-index: 10; /* Ensure the gradient is below the button */
  }
  
  .card:hover::after {
    transform: translateY(0);
  }
  
  .details-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 20; /* Ensure the button is above the overlay and gradient */
  }
  
  .card:hover h3{
    color: white;
  }

  .card:hover .details-btn {
    display: block;
    opacity: 1;
  }
  
  .card-content {
    position: relative;
    z-index: 30;
    color: white;
  }
  