@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    position: relative;
    overflow: hidden;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    transform: translateY(100%);
    transition: transform 0.5s;
  }
  
  .card:hover::after {
    transform: translateY(0);
  }
  

nav a {
  transition: color 0.3s ease;
}

nav .group:hover .group-hover\:block {
  display: block;
}

nav .group:hover .group-hover\:hidden {
  display: none;
}

.transform {
  transition: transform 0.3s ease-in-out;
}



@media (max-width: 1366px){
  #card-container {
    margin: 0px 20px; /* Adjust this value as needed */
  }
  #nav-container2{
    margin: 0px 20px;
  }
  #featured-container{
    margin: 0px 20px;
  }
  #services-section{
    margin: 0px 20px;
  }
  #about-section{
    margin: 0px 20px;
  }

  .contact-form{
    padding: 0px 20px;
  }
  .about-section{
    padding: 0px 20px;
  }
  .team-members{
    padding: 0px 20px;
  }
}

@media (min-width: 1390px) {
  #card-container {
    margin: 0px 150px; /* Adjust this value as needed */
  }
  #nav-container2{
    margin: 0px 100px;
  }
  #featured-container{
    margin: 0px 150px;
  }
  #services-section{
    margin: 0px 150px;
  }
  #about-section{
    margin: 0px 150px;
  }

  .contact-form{
    padding: 0px 150px;
  }
  .about-section{
    padding: 0px 150px;
  }
  .team-members{
    padding: 50px 150px;
  }
}